{% extends 'base.html.twig' %}

{% block title %}NASDAQ{% endblock %}

{% block body %}
<!-- TradingView Widget BEGIN -->

{{info}}

<h5>привет Многоуважаемый Котик!</h5>

<form method="post" action="{{path('quest_trader')}}">
  <input type="text" name="message">
  <input type="submit" value="START">
</form>

<img src="{{asset('./fynny_cat.jpg')}}"/>


<p>вверху можно выбирать на каком рынке ты хочешь быть трейдером
  NASDAQ или FOREX
  а потом выбирай инструмент - чтобы посмотреть котировки
</p>
  

{% endblock %}

